<mat-toolbar class="header-toolbar">
  <button mat-icon-button (click)="onToggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="spacer"></span>

  <div class="profile-wrapper" [matMenuTriggerFor]="userMenu">
    <img src="assets/profile.png" alt="Avatar" class="avatar" />
    <span class="username">{{ userName }}</span>
    <mat-icon class="dropdown-icon">expand_more</mat-icon>
  </div>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item>
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
