<div class="header">
    <h2>Expenses</h2>
    <button (click)="goToAdd()">Add Expense</button>
</div>

<table *ngIf="expenses.length > 0">
    <thead>
        <tr>
            <th>#</th>
            <th>User Name</th>
            <th>User Email</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Note</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let inv of expenses; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ inv.userId?.name }}</td>
            <td>{{ inv.userId?.email }}</td>
            <td>{{ inv.amount }}</td>
            <td>{{ inv.category }}</td>
            <td>{{ inv.note }}</td>
            <td>{{ inv.date | date: 'dd MMM yyyy, h:mm a' }}</td>
            <td>
                <button (click)="edit(inv._id)">Edit</button>
                <button (click)="delete(inv._id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<p *ngIf="expenses.length === 0">No expenses found.</p>