<div class="main-layout">
    <app-sidebar [collapsed]="collapsed"></app-sidebar>

    <div class="main-content">
        <app-header (toggleSidebar)="toggleSidebar()"></app-header>

        <div class="breadcrumb-bar">
            <div class="page-container">
                <app-breadcrumb />
            </div>
        </div>

        <div class="content-area">
            <div class="page-container">
                <router-outlet></router-outlet>
            </div>
        </div>

        <app-footer></app-footer>
    </div>

</div>